/* Injection de la bannière et d'un filtre de luminosité  */
.banner-about {
  background-image: url(../../img/aboutbackgroundimage.png);
  filter: brightness(90%);
  background-size: cover;
  border-radius: 10px;
}
/* Suppprime la visibilité du texte (h1) de la banière, page About, permet toutefois de le garder qu'un premier niveau de titre soit present sur la page */
.banner-about h1 {
  visibility: hidden;
}
/* Utilisation de flexbox */
@media screen and (min-width: 768px) {
  .accordion-about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 77%;
    margin: auto;
  }
}
