/* Mise à la marge de 20px pour la navigation mobile  */
.body {
  margin: 20px;
}
/* Injection de la bannière et d'un filtre de luminosité  */
.banner-home {
  background-image: url(../../assets/img/homebackgroundimage.png);
  filter: brightness(90%);
  background-size: cover;
  border-radius: 10px;
}
#scroll_to_top {
  position: fixed;
  width: 48px;
  font-size: 4em;
  height: 35px;
  bottom: 50px;
  right: 30px;
  color: #ff6060;
}
#scroll_to_top:hover {
  filter: drop-shadow(1px 1px 2px black);
}
.arrow-top {
  filter: blur(1px);
  color: #ff6060;
}
.arrow-top:hover {
  filter: blur(0px);
}
/* Augmentation de la marge pour améliorer la clarté générale */
@media screen and (min-width: 1440px) {
  .body {
    margin-left: 100px;
    margin-right: 100px;
  }
}
