/* Injection de la bannière et d'un filtre de luminosité  */
.banner-home {
  background-image: url(../../img/homebackgroundimage.png);
  filter: brightness(90%);
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}
