.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  bottom: 0;
  width: 100%;
}
.link-footer:hover {
  filter: brightness(0.5);
}

.margin-top-bottom {
  margin-top: 62px;
  margin-bottom: 15px;
}

.footer-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyrights {
  font-size: 12px;
  color: white;
  margin-bottom: 62px;
}
